#main_container {
    background-color: white;


}

#right_box {
    border-top-width: 220px;
    background-color: #D2E5B5;
    height: 755px;
    width: 150px;

}

#top_box {
    width: 1024px;
    background-color: #C5E2DD;
}

#top_right_box {
    width: 150px;
    height: auto;
    background-color: #D2E5B5;
}

#logo {
    width 205px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

#pic_box {

    position: absolute;
    top: 244px;
    left: 190px;
    height: 470px;
    width: 380px
}

#menu_bar {
    position: absolute;
    top: 165px;
    background-color: #B4D1CB;
    height: 40px;
    width: 1024px
}

#welcome_box {
    position: absolute;
    top: 244px;
    left: 608px;
    background-color: #D2E5B5;
    height: 230px;
    width: 380px;
}

#contact_box {
    position: absolute;
    top: 515px;
    left: 608px;
    height: 200px;
    width: 380px;
    background-color: #D2E5B5;

}
